* {
  font-family: sans-serif;

}

body {
  background-color: rgb(186, 209, 209);
}

.App {
  border-style: solid;
  border-color: #282c34;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 2rem;
  margin-top: 150px;
  margin-bottom: 150px;
}

#postBox {
  padding: 1rem 2rem;
  word-wrap: break-word;

  border-radius: 2rem;
}

#submit {
  margin-top: 15px;
  background-color: #282c34;
  color: white;
  border-radius: 3rem;
}

#postMessage {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
  color: crimson;
}

.addImage:hover {
  cursor: pointer;

}

.addImage {
  color: #282c34;
}